body{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    height:100%;
}

p, a{
    font-family: Arial, Helvetica, sans-serif;
}



.user-block{
    display: flex;
    flex-direction: row;
    border: 1.5px solid #D9D9D9;
    border-radius: 20px;
    width: 30%;
    height:100%;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    color:black;
    
}

.user-icon{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}
.user-info{
    padding-left: 20px;
    width: 100%;
    height: 80%;
}

.user-info-margin{
    margin:8px 0px;
}

.user-info-link{
    text-decoration: none;
    color:#0d0c22;
}


.division {
    display: flex;
    flex-direction: row;
    height: 100vh; 
    width: 100%;
}

.side-bar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #F7F7F7;
    border-right: solid 1px #0000002b;
}

.admin-section {
    padding:20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.admin-image{
    width:35px;
    height:35px;
    border-radius: 50%;
}

.side-option{
    display: flex;
    flex-direction: row;
}

.options{
    padding-left: 10px;
    color:#959595;
    font-size: 14px;
    position:relative;
    text-decoration: none;
}

.options:hover{
    color:#000000;
}

.options::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: #545454;
    position: absolute;
    bottom: -.25rem;
    left: 10px;
    transition: width .4s;
}

.options:hover::before {
    width: calc(100% - 10px);
}



.main-content{
    padding-left: 180px;
    width:100%;
}

.menu{
    position: fixed; 
    top: 0px;
    width: calc(100% - 240px);
    background-color: white;
}

.menu-icons{
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    gap:15px;
}

.menu-icon{
    width:20px;
    height:20px;
}

.profile-tile{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-top: 20px;
    justify-items: center;
    align-items: center;
}

.content-tile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40px;
    padding-top: 20px;
}

.view-comment{
    padding-top:10px;
    color:#929292;
    text-decoration: none;
}

.view-comment:hover {
    color: #000000;
    text-decoration: none;
}